
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="C:\Users\coryeby\.nuget\packages\bootstrap\3.0.0" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h2>Birthday Card Generator</h2>

        <div class="btn btn-success">
            <a href="/home/birthdaycardform">New Card</a>
        </div>
    </div>
</body>
</html>
