@model HelloWorld.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<h1>Thank you, @Model.Name</h1>

@if (Model.WillAttend.Value)
{
    @:Thanks for coming! We will email you at @Model.Email
}
else
{
    @:Sorry you can't make it.
}